@import "tailwindcss";

:root { --font-sans: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
html, body, #root { height: 100%; }
body {
  background-color:#13294B;
  font-family: var(--font-sans);
}
